#book-ul {
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    list-style: none;
}

#book-li{
    padding: 10px;
    border-radius: 10px;
    position: relative;
}